{% extends "base_generic.html" %}

{% block title %}
  <h1>For The Love of Books</h1>
{% endblock %}

{% block content %}
  <h2>Maxwell Library Home</h2>
  <p>Welcome to the Maxwell Library, a website developed by <em>the Maxwell family</em>!</p>
  <h2>Library Summary</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genre:</strong> {{ num_genre }}</li>
  </ul>
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}